body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 50vh;
    /* background-color: #e32a36; */
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
}
.loginTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-weight: bold;
    margin-bottom: 5vh;
}
